.align-right {
    display: flex;
    justify-content: flex-end;
}
.m-b-10 {
    margin-bottom: 10px;
} 
.m-t-10 {
    margin-top: 10px;
} 
.m-l-10 {
    margin-left: 10px;
} 
.m-r-10 {
    margin-right: 10px;
} 